<!--The template has to be wrapped inside a root element for replace inside directive to work.-->

<div class="panel panel-primary">
    <div class="panel-heading">{{user.name}}</div>
    <div class="panel-body">
        <div id="address" ng-show="user.address">
            <h3>Address : </h3>
            <pre>
                Flat No : {{user.address.flatNo}} Building : {{user.address.building}} Street : {{user.address.street}}
            </pre>
        </div>
        <div>
            <h3>Friends :</h3>
            <ul ng-repeat="friend in user.friends">
                <li>{{friend}}</li>
            </ul>
        </div>
        <div ng-show="user.rank">
            Rank : {{user.rank}}
        </div>
        <input type="button" class="btn btn-primary" value="Knight Me" ng-click="knightMe(user)" ng-show="!user.rank"/>
    </div>
</div>