<!DOCTYPE html>
<html ng-app="app" ng-cloak>
  <head>
    <title ng-bind="pageTitle"></title>   

    <!-- font awesome from BootstrapCDN -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body ng-controller="appCtrl" class="container" style="padding-top:30px"> 
    <h1>{{message}}</h1>
    <user-info-card></user-info-card>
  </body>
</html>
